* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica;
  margin: 3% 5%
}
.flex{
  display: flex;
}
.baseline{
  align-items: baseline;
}
.home-container{
  h1{text-align: center}
}
.overview-container{
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}
.stock-overview-container {
  width: 15%;
  border: solid 0.1rem grey;
}
.singlestock-container{
  .singlestock-header{
    
  }
  .left{
    width: 40%
  }
  .right{
    width: 60%
  }
}
.chart-container{
  height: 70vh;
}
.title-seperator{
  background-color: #DADADA;
  height: 1px;
  margin: 12px 0 20px;
}
.red {
  color: red
}
.green {
  color: green
}
.grey {
  color: grey
}