* {
  margin: 0;
  padding: 0;
}
.home-container{
  h1{text-align: center}
}
.overview-container{
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}
.stock-overview-container {
  width: 15%;
  border: solid 0.1rem grey;
}
.red {
  color: red
}
.green {
  color: green
}
.grey {
  color: grey
}